<!-- <ng-content></ng-content>	 -->
<!-- <input [value]="myString" />
<input [required]="myBoolean" />
<button (click)="alertMe('You!')">ClickMe</button> -->
<!-- <label>Cup:</label>
<input [(ngModel)]="cup.size" />
<p>{{cup.size}}</p>
<label>Shape:</label>
<input [(ngModel)]="cup.shape" />
<p>{{cup.shape}}</p> -->
<!-- <p>{{favorite.one}}</p>
<p>{{favorite.two}}</p>
<p>{{favorite.three}}</p> -->

<!-- <ul>
	<li *ngFor="let test of tests">
		Test {{test.test}} is {{test.color}}
	</li>
</ul> -->
<!-- <button click)="alertMe('something')">
I am a button</button> -->
<div class="summaryContainer">
	<h2>Bored?  Me too! I will occasionally post some random API or other bits of interesting code.  Play with them here or use them in your own sites, I don't care.</h2>
</div>
<div class="post">
	<div class="review">
		<p>Rate</p>
	</div>
	<div class="content">
		<p>Content</p>
	</div>
</div>